body {
  width: 100%;
}

.bottom-header-container {
  display: none;
}

.section-1-container {
  display: none;
}

/* HEADER  */
header {
  width: 100%;
  position: sticky;
}
.navbar-dark {
  background-color: #333;
}

.nav-link {
  color: #333;
}

.icons {
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
  margin-right: 2px;
}

.icons:hover {
  color: #fff;
}

.fs-1 {
  font-size: 17px;
}

/* --main-- */

main {
  width: 100%;
  background-color: #ccc;
}

footer {
  margin-top: 40px;
  position: static;
}

.product-image {
  width: 100%;
  justify-content: center;
}

.prod-img {
  width: 300px;
  height: 200px;
}

.product-price {
  align-items: center;
}

.card {
  margin-bottom: 20px;
  box-shadow: #ccc;
}

.justify-content-center {
  justify-content: center !important;
}

.pagination {
  width: 250px;
  border-radius: 0.25rem;
}

.links {
  display: flex;
  list-style: none;
}

.links li {
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.pagelinks {
  text-decoration: none;
}

/* --media-- */

@media screen and (min-width: 990px) {
    .bottom-header-container {
        display: block;
    }
    .section-1-container {
        display: block;
    }
    
}