/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}


a {
  color:  #fff;
  text-decoration: none;
}

.icons:hover {
  color: #fff;
}


/* HEADER  */
.navbar-dark {
  background-color: #333;
}

.nav-link{
color: #333; 
}

.bottom-header {
  background-color: #d35266;
}

.icons {
  color: #fff;
  text-decoration: none;
  padding: 0 5px;
  margin-right: 2px;
}


/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/
